.valentin {
  // background: url('../../public/images/background_mobile.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  width: 100vw;

  &__content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0 16px;
    
    &__confetti {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;

      canvas {
        transform: translateX(-50%)
      }
    }
    
    &__title {
      color: white;
      font-size: 30px;
      text-align: center;
      font-weight: 900;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__buttons {
      display: flex;
      gap: 40px;

      &_yes, &_no {
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-size: 17px;
        font-weight: 900;
        cursor: pointer;
      }

      &_yes {
        background-color: #4CAF50;
        color: white;
      }

      &_no {
        background-color: #f44336;
        color: white;
      }
    }
  }

  @media (min-width: 768px) {
    &__content {
      max-width: 800px;

      &__title {
        font-size: 40px;
        width: 500px;
        // min-height: 196px;
      }
      &__image {
        max-width: 500px;
        max-height: 500px;
      }

      &__buttons {
        &_yes, &_no {
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    &__content {

      &__title {
        width: 550px;
      }
      &__image {
        max-width: 550px;
        max-height: 550px;
      }

      &__buttons {
        &_yes, &_no {
          font-size: 22px;
        }
      }
    }
  }
}
